article, span {
    background: white;
}

section {
    background: linear-gradient(to right, rgba(255, 127, 176, 1), rgba(143, 36, 255, 1));
}

section div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section div article {
    width: 20vw;
    height: 20vw;
    padding: 1vw 1vw;
    margin: 2.5vw 2.5vw;
    border-radius: 15px;
    background-color: #EEEEEE;
}

input{
    height: 30px;
    margin-left: 20px;
    padding-left: 5px;
    font-style: italic;
}

h2, span, p, input {
    color: black;
    text-align: left;
}

u{
    color: purple;
    font-weight: bold;
}

a {
    padding: 0.5em;
    font-weight: bold;
    border-radius: 10px;
    color: #EEEEEE;
    background: linear-gradient(to right, rgba(255, 127, 176, 1), rgba(143, 36, 255, 1));
}